
    <footer class="text-center py-2 bg-primary w-100">
        <div class="d-flex align-items-center justify-content-center gap-2">
            <a href="/about" class="text-muted text-decoration-none fw-bold" style="font-size: 12px;">About Us</a>
            <a href="/faqs" class="text-muted text-decoration-none fw-bold" style="font-size: 12px;">FAQs</a>
        </div>
        <p class="text-muted mb-0">&copy; 2024 Code with InfinitiDev. All rights reserved.</p>
    </footer>
        <script src="/js/alert.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>