<div class="side-nav pt-5">
  <ul class="nav flex-column">

    <li class="nav-item mb-4">
      <a class="nav-link py-0" style="padding-left: 1.3rem!important;padding-right: 1.3rem!important;"
        href="/">
        <i class="bi bi-house circle"></i>
        <span class="d-lg-inline d-none">Home</span>
      </a>
    </li>

    <li class="nav-item mb-4">
      <a class="nav-link py-0" style="padding-left: 1.3rem!important;padding-right: 1.3rem!important;"
        href="/courses">
        <i class="bi bi-book circle"></i>
        <span class="d-lg-inline d-none">Courses</span>
      </a>
    </li>
  </ul>
</div>