<%- include('../partials/_header', { title: 'New Featured Course' }) %>
    <h4 class="fw-bold pt-4 pb-1">New Featured Course </h4>
    <div class="row pb-5">
        <form action="/users/admin/featured-courses/create" method="post" class="col-4">
            <div class="form-group mb-3">
                <select name="course_id" id="course_id" class="form-select">
                    <option value="">Select Course</option>
                    <% courses.forEach(course => { %>
                        <option value="<%= course.id %>"><%= course.title %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group mb-3">
                <select name="difficulty_lvl" id="difficulty_lvl" class="form-select">
                    <option value="">Select Difficulty Level</option>
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="/users/admin/featured-courses" class="btn btn-outline-secondary">Cancel</a>
        </form>
    </div>
<%- include('../partials/_footer') %>