<%- include('partials/_header', { title: 'Home' }) %>
    <div class="wrapper mt-5">
        <div
            class="course-details web-dev black-bg display-flex align-items-center justify-content-center flex-direction-column  padding-top-bottom-130">
            <h3 class="font-50 webdev font-weight-700">Web Development</h3>
            <p>Learn To Code With InfinitiDEV</p>
        </div>
        <svg style="background-color:#D9EEE1;" width="100%" height="70" viewBox="0 0 100 100"
            preserveAspectRatio="none">
            <path id="wavepath" d="M0,0  L110,0C35,150 35,0 0,100z" fill="#282A35"></path>
        </svg>
        <div class="course-details black grey-bg">
            <div class="course-name">
                <h2>HTML</h2>
                <p>HTML provides basic structure for a web page.</p>
            </div>
            <div class="exampleBox">
                <b>HTML Example :</b>
                <div class="example">
                    <div class="example-wrapper">
                        <div>
                            <span class="green"><</span>
                            <span class="brown">!DOCTYPE
                                <span class="purple">html</span>
                            </span>
                            <span class="green">></span>
                        </div>
                        <div>
                            <span class="green"><</span>
                            <span class="brown">html</span>
                            <span class="green">></span>
                        </div>
                        <div class="mx-3">
                            <span class="green"><</span>
                            <span class="brown">head</span>
                            <span class="green">></span>
                        </div>
                        <div class="mx-5">
                            <span class="green"><</span>
                            <span class="brown">title</span>
                            <span class="green">></span>
                            <span>HTML Page</span>
                            <span class="green"><</span>
                            <span class="brown">/title</span>
                            <span class="green">></span>
                        </div>

                        <div class="mx-3">
                            <span class="green"><</span>
                            <span class="brown">/head</span>
                            <span class="green">></span>
                        </div>
                        <div class="mx-3">
                            <span class="green"><</span>
                            <span class="brown">body</span>
                            <span class="green">></span>
                        </div>
                        <div class="my-1"></div>
                        <div class="mx-5">
                            <span class="green"><</span>
                            <span class="brown">h1</span>
                            <span class="green">></span>
                            <span>This is heading.</span>
                            <span class="green"><</span>
                            <span class="brown">/h1</span>
                            <span class="green">></span>
                        </div>
                        <div class="mx-5">
                            <span class="green"><</span>
                            <span class="brown">p</span>
                            <span class="green">></span>
                            <span>This is paragraph.</span>
                            <span class="green"><</span>
                            <span class="brown">/p</span>
                            <span class="green">></span>
                        </div>
                        <div class="my-1"></div>
                        <div class="mx-3">
                            <span class="green"><</span>
                            <span class="brown">/body</span>
                            <span class="green">></span>
                        </div>
                        <div>
                            <span class="green"><</span>
                            <span class="brown">/html</span>
                            <span class="green">></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg style="background-color:#FFF4A3;" width="100%" height="70" viewBox="0 0 100 100"
            preserveAspectRatio="none">
            <path id="wavepath" d="M0,0  L110,0C35,150 35,0 0,100z" fill="#D9EEE1"></path>
        </svg>
        <div class="course-details black yellow-bg">
            <div class="course-name">
                <h2>CSS</h2>
                <p>CSS is used to beautify the web page.</p>
            </div>
            <div class="exampleBox">
                <b>CSS Example :</b>
                <div class="example">
                    <div class="example-wrapper">
                        <div>
                            <span class="brown">body</span>
                            <span class="yellow">{</span>
                            <div class="purple">background-color <span class="yellow">:</span> <span class="green">
                                    black</span><span class="yellow"> ;</span></div>
                            <span class="yellow">}</span>
                        </div>
                        <div>
                            <span class="brown">h1</span>
                            <span class="yellow">{</span>
                            <div class="purple"> color <span class="yellow">:</span><span class="green">
                                    white</span><span class="yellow"> ;</span></div>
                            <div class="purple">text-align <span class="yellow">:</span><span class="green">
                                    center</span><span class="yellow"> ;</span></div>
                            <span class="yellow">}</span>
                        </div>
                        <div>
                            <span class="brown">p</span>
                            <span class="yellow">{</span>
                            <div class="purple">font-family <span>:</span> <span class="green"> sans-serif</span><span
                                    class="yellow"> ;</span></div>
                            <span class="yellow">}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg style="background-color:#FFF4A3;" width="100%" height="96px" viewBox="0 0 100 100"
            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M0,0 C40,33 66,52 75,52 C83,52 92,33 100,0 L100,100 L0,100 L0,0 Z" fill="#282A35"></path>
        </svg>
        <div class="course-details black-bg pb-5">
            <div class="course-name">
                <h2>JavaScript</h2>
                <p>JavaScript is the actual programming language of web.</p>
            </div>
            <div class="exampleBox">
                <b>JavaScript Example :</b>
                <div class="example">
                    <div class="example-wrapper">
                        <div>
                            <span class="green"><</span>
                            <span class="brown">button</span>
                            <span class="purple">onclick</span>
                            <span class="green"> = "myFunction()" ></span>
                        </div>
                        <div class="mx-3">
                            <span class="yellow"> Click Here</span>
                        </div>
                        <div>
                            <span class="green"><</span>
                            <span class="brown">/button</span>
                            <span class="green">></span>
                        </div>
                        <div>
                            <span class="green"><</span>
                            <span class="brown">script</span>
                            <span class="green">></span>
                        </div>
                        <div>
                            <span class="purple">function </span>
                            <span class="yellow">myFunction() {</span>
                        </div>
                        <div class="mx-3">
                            <span class="purple">let </span>
                            <span class="yellow">x = document.getElementById(<span class="green">"demo"</span>);</sp an>
                        </div>
                        <div class="mx-3">
                            <span class="yellow">x.style.fontSize = <span class="green">"20px"</span>;</span>
                            <span class="yellow">x.style.color = <span class="green">"red"</span>;</span>
                        </div>
                        <div>
                            <div class="yellow">}</div>
                            <span class="green"><</span>
                            <span class="brown">/script</span>
                            <span class="green">></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer') %>