<%- include('partials/_header', { title: '404 Page Not Found' }) %>

    <div class="card border-0">
        <div class="card-body">
            <h3>404 Page Not Found !</h3>
        </div>
    </div>

<%- include('partials/_footer') %>