<%- include('../partials/_header', { title: 'Instructors' }) %>
    <h4 class="fw-bold pt-4 pb-1">Instructors</h4>
   <div class="col-12 table-responsive min-vh-100">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Repository</th>
                    <th>Page</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="Instructors-data" class="table-group-divider">
            </tbody>
        </table>
    </div>

    <script src="/js/instructors.js"></script>
<%- include('../partials/_footer') %>