<%- include('../partials/_header', { title: '404 Page Not Found' }) %>

    <div class="row h-100 d-flex justify-content-center align-items-center min-vh-100 m-0">
        <div class="card col-4">
            <div class="card-body">
                <h1 class="card-title">404</h1>
                <p class="card-text">The page you are looking for was not found.</p>
                <a href="/" class="btn btn-sm btn-primary">Go Home</a>
            </div>
        </div>
    </div>


<%- include('../partials/_footer') %>