<%- include('../partials/_header', { title: 'New Announcement' }) %>
    <h4>New Announcement</h4>
                <div class="row pb-5">
                    <form action="/users/admin/announcements/create" method="post">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">Message</label>
                            <input type="text" class="form-control" id="content" name="content">
                        </div>
                        <div class="mb-3">
                            <select name="course_id" id="course_id" class="form-select">
                                <option value="">Select Course</option>
                                <% courses.forEach(course => { %>
                                    <option value="<%= course.id %>"><%= course.title %></option>
                                <% }) %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
<%- include('../partials/_footer') %>