<div class="side-nav">
  <ul class="nav flex-column">
    <li class="border-bottom border-primary border-2 mb-3 w-100 d-flex justify-content-center">
      <a href="/" class="text-decoration-none d-block w-100 text-center">
        <img src="/img/codewithinfinitidev.png" alt="logo" class="img-fluid" style="max-width: 100%; height: auto;">
      </a>
    </li>

    <li class="nav-item mb-3">
      <a class="nav-link py-0 text-white" style="padding-left: 1.3rem!important;padding-right: 1.3rem!important;"
        href="/admin/dashboard">
        <i class="bi bi-speedometer2 circle"></i>
        <span class="nav-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item mb-3">
      <a href="/admin/students" class="nav-link text-white py-0" style="padding-left: 1.3rem!important;padding-right: 1.3rem!important;">
        <i class="bi bi-people circle"></i>
        <span class="nav-title" >Students</span>
      </a>
    </li>

     <li class="nav-item mb-3">
      <a href="/admin/instructors" class="nav-link text-white py-0" style="padding-left: 1.3rem!important;padding-right: 1.3rem!important;">
        <i class="bi bi-people circle"></i>
        <span class="nav-title" >Instructors</span>
      </a>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="SessionsAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0 text-white" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#sessionsCollapse" aria-expanded="true"
              aria-controls="sessionsCollapse">
              <i class="bi bi-clock circle"></i>
              <span class="nav-title" >Sessions</span>
            </button>
          </h5>
          <div id="sessionsCollapse" class="accordion-collapse collapse" data-bs-parent="#SessionsAccordion">
            <div class="sidebar-item accordion-body position-relative ps-4">
              <a href="/admin/sessions" class="nav-link position-relative ps-3  text-white">
                All
              </a>
              <a href="/admin/sessions/new" class="nav-link position-relative ps-3  text-white">
                New
              </a>
              <div class="accordion mt-2" id="TodoSchedulesAccordion">
                <div class="accordion-item bg-transparent border-0 outline-0">
                  <h5 class="accordion-header">
                    <button class="bg-transparent border-0 outline-0 text-white" style="padding: 0px 20px;" type="button"
                      data-bs-toggle="collapse" data-bs-target="#todoSchedulesCollapse" aria-expanded="true"
                      aria-controls="todoSchedulesCollapse">
                      <i class="bi bi-calendar circle"></i>
                      <span class="nav-title">Todo Schedules</span>
                    </button>
                  </h5>
                  <div id="todoSchedulesCollapse" class="accordion-collapse collapse"
                    data-bs-parent="#TodoSchedulesAccordion">
                    <div class="sidebar-item accordion-body position-relative ps-4">
                      <a href="/admin/todo_schedules" class="nav-link position-relative ps-3  text-white">
                        All
                      </a>
                      <a href="/admin/todo_schedules/new" class="nav-link position-relative ps-3  text-white">
                        New
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="CoursesAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0 text-white" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#coursesCollapse" aria-expanded="true"
              aria-controls="coursesCollapse">
              <i class="bi bi-book circle"></i>
              <span class="nav-title" >Courses</span>
            </button>
          </h5>
          <div id="coursesCollapse" class="accordion-collapse collapse" data-bs-parent="#CoursesAccordion">
            <div class="sidebar-item accordion-body position-relative ps-4">
              <a href="/admin/courses" class="nav-link position-relative ps-3  text-white">
                All
              </a>
              <a href="/admin/courses/new" class="nav-link position-relative ps-3  text-white">
                New
              </a>
              <div class="accordion mt-2" id="SessionCoursesAccordion">
                <div class="accordion-item bg-transparent border-0 outline-0">
                  <h5 class="accordion-header">
                    <button class="bg-transparent border-0 outline-0 text-white" style="padding: 0px 20px;" type="button"
                      data-bs-toggle="collapse" data-bs-target="#sessionCoursesCollapse" aria-expanded="true"
                      aria-controls="sessionCoursesCollapse">
                      <i class="bi bi-book circle"></i>
                      <span class="nav-title">Session Courses</span>
                    </button>
                  </h5>
                  <div id="sessionCoursesCollapse" class="accordion-collapse collapse"
                    data-bs-parent="#SessionCoursesAccordion">
                    <div class="sidebar-item accordion-body position-relative ps-4">
                      <a href="/admin/session-courses" class="nav-link position-relative ps-3  text-white">
                        All
                      </a>
                      <a href="/admin/session-courses/new" class="nav-link position-relative ps-3  text-white">
                        New
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="AssignmentsAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0  text-white" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#AssignmentsCollapse" aria-expanded="true"
              aria-controls="AssignmentsCollapse">
              <i class="bi bi-person-workspace circle"></i>
              <span class="nav-title">Assignments</span>
            </button>
          </h5>
          <div id="AssignmentsCollapse" class="accordion-collapse collapse" data-bs-parent="#AssignmentsAccordion">
            <div class="sidebar-item accordion-body  position-relative ps-4">
              <a href="/admin/assignments/" class="nav-link position-relative ps-3 text-white">
                All
              </a>
              <a href="/admin/assignments/new" class="nav-link position-relative ps-3 text-white">
                New
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="AnnouncementsAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0 text-white" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#AnnouncementsCollapse" aria-expanded="true"
              aria-controls="AnnouncementsCollapse">
              <i class="bi bi-megaphone circle"></i>
              <span class="nav-title">Announcements</span>
            </button>
          </h5>
          <div id="AnnouncementsCollapse" class="accordion-collapse collapse" data-bs-parent="#AnnouncementsAccordion">
            <div class="sidebar-item accordion-body  position-relative ps-4">
              <a href="/admin/announcements/" class="nav-link position-relative ps-3 text-white">
                All
              </a>
              <a href="/admin/announcements/new" class="nav-link position-relative ps-3 text-white">
                New
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="LecturesAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0 text-white" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#LecturesCollapse" aria-expanded="true"
              aria-controls="LecturesCollapse">
              <i class="bi bi-journals circle"></i>
              <span class="nav-title">Lectures</span>
            </button>
          </h5>
          <div id="LecturesCollapse" class="accordion-collapse collapse" data-bs-parent="#LecturesAccordion">
            <div class="sidebar-item accordion-body  position-relative ps-4">
              <a href="/admin/lectures/" class="nav-link position-relative ps-3 text-white">
                All
              </a>
              <a href="/admin/lectures/new" class="nav-link position-relative ps-3 text-white">
                New
              </a>
              <div class="accordion mt-2" id="VideosAccordion">
                <div class="accordion-item bg-transparent border-0 outline-0">
                  <h5 class="accordion-header">
                    <button class="bg-transparent border-0 outline-0 text-white" style="padding: 0px 20px;" type="button"
                      data-bs-toggle="collapse" data-bs-target="#VideosCollapse" aria-expanded="true"
                      aria-controls="VideosCollapse">
                      <i class="bi bi-play circle"></i>
                      <span class="nav-title">Videos</span>
                    </button>
                  </h5>
                  <div id="VideosCollapse" class="accordion-collapse collapse" data-bs-parent="#VideosAccordion">
                    <div class="sidebar-item accordion-body position-relative ps-4">
                      <a href="/admin/videos" class="nav-link position-relative ps-3 text-white">
                        All
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>