<div class="side-nav">
  <ul class="nav flex-column">
    <li class="border-bottom border-primary border-2 mb-3 w-100 d-flex justify-content-center">
      <a href="/" class="text-decoration-none d-block w-100 text-center">
        <img src="/img/codewithinfinitidev.png" alt="logo" class="img-fluid" style="max-width: 100%; height: auto;">
      </a>
    </li>

    <li class="nav-item mb-4">
      <a class="nav-link py-0" style="padding-left: 1.3rem!important;padding-right: 1.3rem!important;"
        href="/users/admin/dashboard">
        <i class="bi bi-speedometer2 circle"></i>
        <span class="nav-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="studentsAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#studentsCollapse" aria-expanded="true"
              aria-controls="studentsCollapse">
              <i class="bi bi-people circle"></i>
              <span class="nav-title">Students</span>
            </button>
          </h5>
          <div id="studentsCollapse" class="accordion-collapse collapse" data-bs-parent="#studentsAccordion">
            <div class="sidebar-item accordion-body position-relative ps-4">
              <a href="/users/admin/students" class="nav-link position-relative ps-3">
                All
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="CoursesAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#coursesCollapse" aria-expanded="true"
              aria-controls="coursesCollapse">
              <i class="bi bi-book circle"></i>
              <span class="nav-title">Courses</span>
            </button>
          </h5>
          <div id="coursesCollapse" class="accordion-collapse collapse" data-bs-parent="#CoursesAccordion">
            <div class="sidebar-item accordion-body position-relative ps-4">
              <a href="/users/admin/courses" class="nav-link position-relative ps-3">
                All
              </a>
              <a href="/users/admin/courses/new" class="nav-link position-relative ps-3">
                New
              </a>
              <div class="accordion mt-2" id="FeaturedCoursesAccordion">
                <div class="accordion-item bg-transparent border-0 outline-0">
                  <h5 class="accordion-header">
                    <button class="bg-transparent border-0 outline-0" style="padding: 0px 20px;" type="button"
                      data-bs-toggle="collapse" data-bs-target="#featuredCoursesCollapse" aria-expanded="true"
                      aria-controls="featuredCoursesCollapse">
                      <i class="bi bi-book circle"></i>
                      <span class="nav-title">Featured</span>
                    </button>
                  </h5>
                  <div id="featuredCoursesCollapse" class="accordion-collapse collapse"
                    data-bs-parent="#FeaturedCoursesAccordion">
                    <div class="sidebar-item accordion-body position-relative ps-4">
                      <a href="/users/admin/featured-courses" class="nav-link position-relative ps-3">
                        All
                      </a>
                      <a href="/users/admin/featured-courses/new" class="nav-link position-relative ps-3">
                        New
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="AssignmentsAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#AssignmentsCollapse" aria-expanded="true"
              aria-controls="AssignmentsCollapse">
              <i class="bi bi-person-workspace circle"></i>
              <span class="nav-title">Assignments</span>
            </button>
          </h5>
          <div id="AssignmentsCollapse" class="accordion-collapse collapse" data-bs-parent="#AssignmentsAccordion">
            <div class="sidebar-item accordion-body  position-relative ps-4">
              <a href="/users/admin/assignments/" class="nav-link position-relative ps-3">
                All
              </a>
              <a href="/users/admin/assignments/new" class="nav-link position-relative ps-3">
                New
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="AnnouncementsAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#AnnouncementsCollapse" aria-expanded="true"
              aria-controls="AnnouncementsCollapse">
              <i class="bi bi-megaphone circle"></i>
              <span class="nav-title">Announcements</span>
            </button>
          </h5>
          <div id="AnnouncementsCollapse" class="accordion-collapse collapse" data-bs-parent="#AnnouncementsAccordion">
            <div class="sidebar-item accordion-body  position-relative ps-4">
              <a href="/users/admin/announcements/" class="nav-link position-relative ps-3">
                All
              </a>
              <a href="/users/admin/announcements/new" class="nav-link position-relative ps-3">
                New
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item mb-3">
      <div class="accordion" id="LecturesAccordion">
        <div class="accordion-item bg-transparent border-0 outline-0">
          <h5 class="accordion-header">
            <button class="bg-transparent border-0 outline-0" style="padding: 0px 20px;" type="button"
              data-bs-toggle="collapse" data-bs-target="#LecturesCollapse" aria-expanded="true"
              aria-controls="LecturesCollapse">
              <i class="bi bi-journals circle"></i>
              <span class="nav-title">Lectures</span>
            </button>
          </h5>
          <div id="LecturesCollapse" class="accordion-collapse collapse" data-bs-parent="#LecturesAccordion">
            <div class="sidebar-item accordion-body  position-relative ps-4">
              <a href="/users/admin/lectures/" class="nav-link position-relative ps-3">
                All
              </a>
              <a href="/users/admin/lectures/new" class="nav-link position-relative ps-3">
                New
              </a>
              <div class="accordion mt-2" id="VideosAccordion">
                <div class="accordion-item bg-transparent border-0 outline-0">
                  <h5 class="accordion-header">
                    <button class="bg-transparent border-0 outline-0" style="padding: 0px 20px;" type="button"
                      data-bs-toggle="collapse" data-bs-target="#VideosCollapse" aria-expanded="true"
                      aria-controls="VideosCollapse">
                      <i class="bi bi-play circle"></i>
                      <span class="nav-title">Videos</span>
                    </button>
                  </h5>
                  <div id="VideosCollapse" class="accordion-collapse collapse" data-bs-parent="#VideosAccordion">
                    <div class="sidebar-item accordion-body position-relative ps-4">
                      <a href="/users/admin/videos" class="nav-link position-relative ps-3">
                        All
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>